{% extends 'base.html.twig' %}

{% block title %}About{% endblock %}

{% block body %}
                <div class="text-center">
                    <h2 class="section-heading text-uppercase">Elias Bouabdellah</h2>
                    <h3 class="section-subheading text-muted">25 ans elias.bouabdellah@gmail.com</h3>
                </div>
                <div class="row">
                    <div class="col-lg-4">
                        <div class="team-member">
                            <p class="text-muted"></p>
                            <p class="text-muted"></p>
                            <p class="text-muted"></p>
                            
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-8 mx-auto text-center"><p class="large text-muted"></p>Curieux et intéressé par l'informatique, je me suis réorienté vers le développement après un cursus en école de commerce</div>
                    <div class="col-lg-8 mx-auto text-center"><p class="large text-muted"></p>J'ai donc acquis de nombreuses compéténces à travers ma formation de Développeur web Junior(Bac+2) au sein d'Openclassrooms.</div>
                    <div class="col-lg-8 mx-auto text-center"><p class="large text-muted"></p>Ayant apprècié le développement back-end, j'ai donc décidé de me spécialiser sur le langage PHP en me formant sur son célèbre framework Symfony</div>
                    <div class="col-lg-8 mx-auto text-center"><p class="large text-muted"></p>Curieux et intéressé par l'informatique, je me suis réorienté vers le développement après un cursus en école de commerce</div>
                </div>
{% endblock %}
