<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <p>{{contact.name }}</p>
    <p>{{contact.tel }}</p>
    <p>{{contact.email }}</p>
    <p>{{contact.content|nl2br }}</p>
</body>
</html>