{% extends 'base.html.twig' %}

{% block title %}Compétences
{% endblock %}

{% block body %}
	<!-- Skils-->
	<div class="text-center">
		<h2 class="section-heading text-uppercase">Compétences</h2>
		<h3 class="section-subheading text-muted">Compétences acquises au sein de ma formation développeur web junior</h3>
	</div>
	<section class="page-section" id="services">
		<div class="row text-center">
			<div class="col-md-7">
				<h4 class="my-3">Technologies</h4>
				<div class="btn btn-primary">HTML</div>
				<div class="btn btn-primary">CSS</div>
				<div class="btn btn-primary">PHP
				</div><br>
				<div class="btn btn-primary">Symfony</div>
				<div class="btn btn-primary">Javascript</div>
				<div class="btn btn-primary">Jquery</div>
				<div class="btn btn-primary">Ajax</div>
				<div class="btn btn-primary">SQL</div>
				<div class="btn btn-primary">Twig</div>
				<div class="btn btn-primary">Bootstrap</div>
			</div>
			<div class="col-md-4">
				<h4 class="my-3">Outils/Architectures/CMS</h4>
				<div class="btn btn-primary">Architecture MVC</div>
				<div class="btn btn-primary">Programmation orienté objet</div>
				<div class="btn btn-primary">Git/GitHub</div>
				<div class="btn btn-primary">WordPress</div>
			</div>
		</div>
	</section>
{% endblock %}
